<div class="container" >
    <div class="form-container log-in-container" >
      <form class="formulario" >
        <h1>Login</h1>    
        <div class="form-field">
            <label class="form-field__label" for="email">Informe o email:</label>
            <input type="email" placeholder="Email"  required [(ngModel)] = "email" name="nmEmail"/>
             </div>
             <div class="form-field">
                 <label class="form-field__label" for="senha"> Senha:</label>
                 <input type="password" placeholder="senha" required [(ngModel)] = "senha" name="nmSenha" />
             </div> 
        <a href="http://localhost:4200/criarConta">Não possui conta?</a>
        <button type="button" (click)="login()">Login</button>
        <div class="msn">
          <output id="msnServer"></output>
        </div>
      </form>
    </div>
  </div>
  