<div class="container" >
    <div class="form-container log-in-container">
      <form class="formulario" >
        <h1>Criar Conta</h1>
      
        <div class="form-field">
            <label class="form-field__label" for="usuario">Informe o nome do usuario:</label>
            <input type="usuario" placeholder="usuario"  required [(ngModel)] = "usuario" name="nmUsuario"/>
        </div>
        <div class="form-field">
            <label class="form-field__label" for="email">Informe o email:</label>
            <input type="email" placeholder="Email" required [(ngModel)] = "email" name="nmEmail"/>
             </div>
             <div class="form-field">
                 <label class="form-field__label" for="senha">Cadastre uma senha:</label>
                 <input type="password" placeholder="senha" required  [(ngModel)] = "senha" name="nmSenha" />
             </div> 
        <a href="http://localhost:4200/login">Já possui uma conta?</a>
        <button type="button" (click)="criarConta()">Criar Conta</button>
        <div class="msn">
          <output id="msnServer"></output>
        </div>
      </form>
    </div>
  </div>
  