
a {
	color: #57CC99;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
h1{
    text-transform: capitalize;
    color: var(--primary);
    
}
button {
	border-radius: 20px;
	border: 1px solid #F0E5CF;
	background-color: #57CC99;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

input {
    padding: 8px;
    border-radius: 4px;
    color: inherit;
    border: 2px solid;
    outline: none;
}

label {
    color: inherit;
    margin-bottom: 4px;
    font-size: 12px;
}
.formulario {
	width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: var(--primary);
}

.form-field {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    color: var(--primary);
  
  }

  