/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #4B6587;
    --secondary: #57CC99;
    --padding: 15px;
    --cinza: #C8C6C6;
    --cinza-claro: #dedede;
  
  }
  
  * {
    font-family: "Roboto", sans-serif;
  }
  
  .container{
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
  }
  
  